<div id="<%= dom_id nutrition_log %>">
  <p>
    <strong>Created At:</strong>
    <%= nutrition_log.created_at %>
  </p>

  <p>
    <strong>Calories current:</strong>
    <%= nutrition_log.calories_current %>
  </p>

  <p>
    <strong>Sleep Current:</strong>
    <%= nutrition_log.sleep_current %>
  </p>

  <p>
    <strong>Protein Current:</strong>
    <%= nutrition_log.protein_current %>
  </p>

  <p>
    <strong>Calories Max:</strong>
    <%= nutrition_log.calories_max %>
  </p>

  <p>
    <strong>Sleep Min:</strong>
    <%= nutrition_log.sleep_min %>
  </p>

  <p>
    <strong>Protein Min:</strong>
    <%= nutrition_log.protein_min %>
  </p>

</div>
