<div id="<%= dom_id nutrition_log %>">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><strong>Created At:</strong><%= nutrition_log.created_at %></h5>
      <p class="card-text"><strong>Calories current:</strong><%= nutrition_log.calories_current %></p>
      <p class="card-text"><strong>Sleep Current:</strong><%= nutrition_log.sleep_current %></p>
      <p class="card-text"><strong>Protein Current:</strong><%= nutrition_log.protein_current %></p>
      <p class="card-text"><strong>Calories Max:</strong><%= nutrition_log.calories_max %></p>
      <p class="card-text"><strong>Sleep Min:</strong><%= nutrition_log.sleep_min %></p>
      <p class="card-text"><strong>Protein Min:</strong><%= nutrition_log.protein_min %></p>
    </div>
  </div>
</div>
