<div id="<%= dom_id nutrition_log %>">
  <p>
    <strong>User:</strong>
    <%= nutrition_log.user_id %>
  </p>

  <p>
    <strong>Calories current:</strong>
    <%= nutrition_log.calories_current %>
  </p>

  <p>
    <strong>Sleep current:</strong>
    <%= nutrition_log.sleep_current %>
  </p>

  <p>
    <strong>Protein current:</strong>
    <%= nutrition_log.protein_current %>
  </p>

  <p>
    <strong>Calories max:</strong>
    <%= nutrition_log.calories_max %>
  </p>

  <p>
    <strong>Sleep max:</strong>
    <%= nutrition_log.sleep_max %>
  </p>

  <p>
    <strong>Protein max:</strong>
    <%= nutrition_log.protein_max %>
  </p>

</div>
