<p style="color: green"><%= notice %></p>

<h1>Your Nutrition Logs</h1>
<div>
  <%= link_to "New nutrition log", new_nutrition_log_path %>
</div>
<%= line_chart current_user.nutrition_logs.group_by_day(:created_at).average(:sleep_current) %>
<hr class="hr hr-blurry" />
<div id="nutrition_logs">
  <% @nutrition_logs.each do |nutrition_log| %>
    <%= render nutrition_log %>
    <p>
      <%= link_to "Show this nutrition log", nutrition_log %>
    </p>
    <hr class="hr hr-blurry" />
  <% end %>
</div>

