<p style="color: green"><%= notice %></p>

<%= render @nutrition_log %>

<div>
  <%= link_to "Edit this nutrition log", edit_nutrition_log_path(@nutrition_log) %> |
  <%= link_to "Back to nutrition logs", nutrition_logs_path %>

  <%= button_to "Destroy this nutrition log", @nutrition_log, method: :delete %>
</div>
