<p style="color: green"><%= notice %></p>

<h1>Your Daily Workout Logs</h1>

<div>
  <%= link_to "New workout log", new_workout_log_path %>
</div>
<div>
  <h3>Regimen History</h3>
  <%= pie_chart current_user.workout_logs.group(:regimen).count %>
</div>
<hr class="hr hr-blurry" />
<div id="workout_logs">
  <% @workout_logs.each do |workout_log| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <p class="card-text"><%= render workout_log %></p>
      <a href="#" class="card-link"><%= link_to "Show this workout log", workout_log %></a>
    </div>
  </div>
  <hr class="hr hr-blurry" />
  <% end %>
</div>
