<p style="color: green"><%= notice %></p>

<h1>Your Daily Workout Logs</h1>
<% warriorlevel_message = WARRIORLEVEL_MESSAGES[current_user.warriorlevel] %>

<% if warriorlevel_message.present? %>
  <div class="alert alert-info">
    <%= warriorlevel_message %>
  </div>
<% end %>
<div>
  <%= link_to "New workout log", new_workout_log_path %>
</div>
<%= pie_chart current_user.workout_logs.group(:regimen).count %>
<hr class="hr hr-blurry" />
<div id="workout_logs">
  <% @workout_logs.each do |workout_log| %>
    <%= render workout_log %>
    <p>
      <%= link_to "Show this workout log", workout_log %>
    </p>
    <hr class="hr hr-blurry" />
  <% end %>
</div>
