<%= form_with model: nutrition_log do |form| %>
  <div>
    <%= form.label :date %><br>
  </div>

  <div>
    <%= form.label :max_calories %><br>
    <%= form.text_field :max_calories %>
    <% nutrition_log.errors.full_messages_for(:max_calories).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :min_protein %><br>
    <%= form.text_area :min_protein %><br>
    <% nutrition_log.errors.full_messages_for(:min_protein).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :min_sleep %><br>
    <%= form.text_area :min_sleep %><br>
    <% nutrition_log.errors.full_messages_for(:min_sleep).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
