<%= stylesheet_link_tag 'nutritionLog' %>
<h1>Daily Nutrition Log</h1>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Current Calories</th>
      <th>Current Protein</th>
      <th>Current Sleep</th>
      <th>Max Calories</th>
      <th>Min Protein Intake</th>
      <th>Min Sleep</th>
    </tr>
  </thead>
  <tbody>
    <% @nutrition_logs.each do |nutrition_log| %>
      <tr>
        <td>
          <%= nutrition_log.date %>
        </td>
        <td>
          <%= nutrition_log.calories_consumed %>
        </td>
        <td>
          <%= nutrition_log.protein_intake %>
        </td>
        <td>
          <%= nutrition_log.current_sleep_hours %>
        </td>
        <td>
          <%= nutrition_log.max_calories %>
        </td>
        <td>
          <%= nutrition_log.min_protein %>
        </td>
        <td>
          <%= nutrition_log.min_sleep %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New Daily Log", new_nutrition_log_path %>

