<%= stylesheet_link_tag 'nutritionLog' %>
<h1>Nutrition Log</h1>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Calories Consumed</th>
      <th>Current Sleep Hours</th>
      <th>Protein Intake</th>
      <th>Max Calories</th>
      <th>Min Sleep Hours</th>
      <th>Min Protein Intake</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @nutrition_log.date %></td>
      <td>
        <%= @nutrition_log.calories_consumed %>
        <%= button_to 'Add Calories', { controller: 'nutrition_logs', action: 'add_calories', id: @nutrition_log.id }, method: :post %>
        <%= button_to 'Remove Calories', { controller: 'nutrition_logs', action: 'remove_calories', id: @nutrition_log.id }, method: :post %>
      </td>
      <td>
        <%= @nutrition_log.current_sleep_hours %>
        <%= button_to 'Add Sleep', { controller: 'nutrition_logs', action: 'add_sleep', id: @nutrition_log.id }, method: :post %>
        <%= button_to 'Remove Sleep', { controller: 'nutrition_logs', action: 'remove_sleep', id: @nutrition_log.id }, method: :post %>
      </td>
      <td>
        <%= @nutrition_log.protein_intake %>
        <%= button_to 'Add Protein', { controller: 'nutrition_logs', action: 'add_protein', id: @nutrition_log.id }, method: :post %>
        <%= button_to 'Remove Protein', { controller: 'nutrition_logs', action: 'remove_protein', id: @nutrition_log.id }, method: :post %>
      </td>
      <td>
        
      </td>
      <td>
        
      </td>
      <td>
        
      </td>
    </tr>
  </tbody>
</table>

