<%= stylesheet_link_tag 'social' %>

<!-- Display a notice if there is one -->
<p style="color: green"><%= notice %></p>

<!-- Main heading -->
<h1>Social Feed</h1>

<!-- Button to create a new post -->
<div>
  <%= link_to "New post", new_post_path, class: "button" %>
</div>

<!-- Horizontal rule -->
<hr class="hr hr-blurry" />

<!-- Container for displaying posts -->
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
      <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
    </p>
    <hr class="hr hr-blurry" />
  <% end %>
</div>




