#Working except for delete
<p style="color: green"><%= notice %></p>

<h1>Social Feed</h1>
<div>
  <%= link_to "New post", new_post_path %>
</div>
<hr class="hr hr-blurry" />

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
      <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
    </p>
    <hr class="hr hr-blurry" />
  <% end %>
</div>

