<p style="color: green"><%= notice %></p>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text"><%= render @post %></p>
    <div>
      <%= button_to 'Like', post_likes_path(@post), method: :post %>
      <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
      <% if pre_like %>
        <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
      <% end %>
      <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    </div>
  </div>
</div>
<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to post", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>

<div class="row d-flex justify-content-left">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
      <b>Comments</b>
      <div class="card-body p-4">
        <div data-mdb-input-init class="form-outline mb-4">
          <%= render "comments/form", comment: @comment%>
        </div>
        <%- @post.comments.each do |comment|%>
        <div class="card mb-4">
          <div class="card-body">
            <p> <%= comment.text%> </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


