<%= form_with model: workoutlog do |form| %>
  <div>
    <%= form.label :day %><br>
    <%= form.text_field :day %>
    <% workoutlog.errors.full_messages_for(:day).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :regimen %><br>
    <%= form.text_field :regimen %>
    <% workoutlog.errors.full_messages_for(:regimen).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    <% workoutlog.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
